* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .baelish{
    width: 100vw;
    height: 70vh;
    background-image: url("images/throne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
 }
 .king {
     text-decoration: none;
     color:#fff;
 }
 .got {
     margin-top: 10px;
     width: 285px;
     height: 28px;
 }
 .text-space {
     width: 700px;
     height: 100px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: -350px;
     margin-top: -200px;
 }
 .text {
     text-align: center;
     width: 700px;
     height:25px;
     color: #fff;
     font-weight: 200;
     font-size: 22px;
     letter-spacing: 3px;
 }
 .text3 {
     text-align: center;
     color: rgb(255, 255, 255);
     width: 450px;
     height: 40px;
     position: absolute;
     right: 50%;
     bottom: 50%;
     margin-right: -225px;
     margin-bottom: -25px;
     z-index: 1;
     font-family: sans-serif;
     font-size: 15px;
 }
 .btn {
     width: 260px;
     height: 70px;
     position: absolute;
     right: 50%;
     bottom: 50%;
     margin-right: -130px;
     margin-bottom: -130px;
     font-weight: bold;
     font-size: 16px;
     padding-right: 20px;
     color: #ffff;
     background: rgb(12, 10, 10);
     border: none;
     outline: none;
     cursor: pointer;
 }
 .btn:hover {
     background: rgb(134, 129, 129);
     color: #000;
 }
 .btn:hover a {
     color: #000;
 }

 .fa-greater-than {
     font-size : 17px;
     position: absolute;
     margin-left: 7px;
 }
 .text4 {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 250px;
    height: 40px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    margin-right: -125px;
    margin-bottom: -200px;
    font-weight: 600;
    letter-spacing: -1;
 }
 .text5 {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    margin-bottom: -250px;
    margin-right: -150px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -1;
 }
 .symbol2 {
     visibility: hidden;
 }
 .text5:hover .symbol2 {
     visibility: visible;
 }
 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1e1e1e;
    height:30vh;
    z-index: 1;
}
 .nav-list {
     list-style: none;
     display: flex;    
 }
 .nav-list a {
     text-decoration: none;
     color: lightslategray;
 }
 .nav-list p {
     opacity: 0.4
 }
 
 .nav-items {
    width: 135px;
    height: 120px;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-left: 20px;
 }
 .splash {
     width: 65px;
     height: 64px;
     margin-left: 35px;
     opacity: 0.4;
 }
 .people2 {
     width:71px;
     height: 62px;
     opacity: 0.4;
     margin-left: 32px;
 }
 .house {
     width: 48px;
     height:65px;
     opacity: 0.4;
     margin-left: 42px;
 }
 .location {
     width: 46px;
     height: 66px;
     opacity:0.4;
     margin-left: 45px;
 }
 .appendix {
     width: 51px;
     height: 64px;
     opacity: 0.4;
     margin-left: 42px;
 }
 .append:hover .appendix , 
 .append:hover .subtitle4 , 
 .append:hover .li-text4 ,
 .locations:hover .location ,
 .locations:hover .subtitle3 ,
 .locations:hover .li-text3 ,
 .houses:hover .house ,
 .houses:hover .subtitle2 ,
 .houses:hover .li-text2 ,
 .people:hover .people2 ,
 .people:hover .subtitle1 ,
 .people:hover .li-text1 ,
 .nav-items:hover .splash ,
 .nav-items:hover .subtitle ,
 .nav-items:hover .li-text
 {
    opacity:1;
 }
 .nav-icons {
     display: flex;
     align-self: flex-end;
     align-items: center;
     justify-content: center;
     position: absolute;
     left:0;
     width: 200px;
     height: 60px;
 }

 .fb , .tw , .inst {
     cursor: pointer;
     opacity: 0.4;
 }
.fb:hover  , .tw:hover , .inst:hover{
    opacity:1;
}

